<p id="notice"><%= notice %></p>

<h1>Listing Gopis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gopis.each do |gopi| %>
      <tr>
        <td><%= gopi.name %></td>
        <td><%= gopi.email %></td>
        <td><%= link_to 'Show', gopi %></td>
        <td><%= link_to 'Edit', edit_gopi_path(gopi) %></td>
        <td><%= link_to 'Destroy', gopi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gopi', new_gopi_path %>
